<main>
  <h2>
    Para mandar uma mensagem para a Devaria preencha abaixo e clique em enviar:
  </h2>
  <section>
    <form action="/">
      <p>
        <label>Nome: </label>
        <input type="text" name="Nome" />
      </p>
      <p>
        <label>E-mail: </label>
        <input type="text" name="Email" />
      </p>
      <p>
        <label>Comentário: </label>
        <textarea name="Comentario" rows="4" cols="50"> </textarea>
      </p>
      <p>
        <label>Sexo: </label>
        <input type="radio" name="Sexo" /> <label>Feminino</label>
        <input type="radio" name="Sexo" /> <label>Masculino</label>
      </p>
      <p>
        <label>Aonde nos conheceu? </label>
        <select name="Connheceu">
          <option selected>Youtube</option>
          <option>Google</option>
          <option>Amigos</option>
          <option>Outros</option>
        </select>
      </p>
    </form>
  </section>
</main>
